.your-bookshelf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 30px 80px 50px;
  width: 300px;

  position: fixed;
  top: 15px;
  right: -300px;

  border-radius: 20px;
  background-color: $cream-color;
  box-shadow: 0 0 15px rgba(black, 0.5);
  z-index: 100;
  flex-wrap: wrap;
  transition: 0.3s;

  .close-bookshelf-btn {
    @include close-buttons($rust-color);
    margin: 5px;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .list-item {
    .li-button {
      margin-left: 20px;
      border: none;
      outline: none;
      background: none;
      color: black;
      font-size: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .clear-btn {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 50px;
    font-size: 18px;
    font-weight: bold;
    color: $rust-color;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    margin: 5px;

    &:hover {
      color: $terracotta-color;
    }

    &:active {
      border: 0px;
      outline: none;
      color: $rust-color;
    }
  }
}
