@import 'config.scss';
@import 'header.scss';
@import 'search.scss';
@import 'results.scss';
@import 'description.scss';
@import 'your-bookshelf.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins';
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}
